@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* font-family: 'Red Hat Display', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

.background_image{
    background-image: url(./images/pattern-background-desktop.svg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
    background-size: contain;
}

.hero_img{
    width: 100%;
}

.card{
    background-color: white;
    max-width: 400px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 3px 2px 15px 7px hsl(225deg 32% 79%);
}

.content{
    padding: 15px 30px;
    text-align: center;
}

.content h2{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 15px;
}

.content p{
    color: #8a8a8a;
    margin-bottom: 20px;
}

.annual_plan_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    padding: 23px 5px;
    margin-bottom: 15px;
}

.plan_left{
    display: flex;
    align-items: center;
    text-align: left;
}

.plan_left div{
    margin-left: 15px;
}

.plan_left div h5{
    font-size: 15px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}


.plan_left div span{
    font-size: 13px;
    color: #8a8a8a;
}

.plan_right a{
    font-weight: 900;
}

.plan_right a:hover{
    text-decoration: none;
    color: hsl(245, 75%, 52%);
    transition: color .3s ease;
}

.btn a{
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 10px 0;
    border-radius: 12px;
    padding: 15px 0;
}

.proceed_payment_button a{
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 1px 8px 12px 1px hsl(225deg 78% 93%);
}

.proceed_payment_button a:hover{
    background-color: hsl(224, 23%, 55%);
    transition: background-color .3s ease;
}

.cancel_order_button a{
    color: hsl(224, 23%, 55%);
} 

.cancel_order_button a:hover{
    color: hsl(223, 47%, 23%);
} 

@media only screen and (max-width: 425px){
    .background_image{
        background-image: url(./images/pattern-background-mobile.svg);
        font-size: 14px;
    }
    .card{
        max-width: 87%;
    }
    .content{
        padding: 25px;
    }
    .content h2{
        font-size: 23px;
    }
    .annual_plan_box{
        padding: 12px;
    }
    .plan_left div{
        margin-left: 10px;
    }
    .plan_right a{
        font-size: small;
    }

}
